In [29]:
#convert the dataset folder into pandas dataframe
import pandas as pd
import numpy as np
import os

def build_dataframe(signal="BVP"):
    """
    Build a dataframe from the dataset folder
    :param signal: the signal to extract
    :return: a dataframe containing the signal

    Possible signals:
    - BVP: Blood Volume Pulse
    - EDA: Electrodermal Activity
    - TEMP: Temperature
    - HR: Heart Rate
    - response: response to the questionnaire
    """
    df = pd.DataFrame()
    for dirname, _, filenames in os.walk('dataset'):
        for filename in filenames:
            try:
                _, group, ID, round, phase = dirname.split("/")
            except ValueError:
                _, group, ID, ID2, round, phase = dirname.split("/")
            # create dataframe from csv file
            if filename.startswith(signal):
                tmp_df = pd.read_csv(os.path.join(dirname, filename))
                tmp_df["group"] = group
                if group == "D1_3":
                    tmp_df["sub_group"] = ID
                    tmp_df["ID"] = int(ID2[-1])
                else:
                    tmp_df["ID"] = int(ID[-1])
                tmp_df["round"] = int(round[-1])
                tmp_df["phase"] = int(phase[-1])
                df = pd.concat([df, tmp_df], axis=0)
    if signal == "response":
        df.sort_values(by=['group', 'sub_group', 'ID', 'round', 'phase'], inplace=True)
    else:
        df.sort_values(by=['group', 'sub_group', 'ID', 'round', 'phase', 'time'], inplace=True)
    df.drop(columns=['Unnamed: 0'], inplace=True)
    return df

In [31]:
df_EDA = build_dataframe("EDA")

        EDA                     time group  ID  round  phase sub_group
0  0.185827  2021-12-17 16:11:55.000  D1_1   1      1      1       NaN
1  0.203768  2021-12-17 16:11:55.250  D1_1   1      1      1       NaN
2  0.192234  2021-12-17 16:11:55.500  D1_1   1      1      1       NaN
3  0.189671  2021-12-17 16:11:55.750  D1_1   1      1      1       NaN
4  0.185827  2021-12-17 16:11:56.000  D1_1   1      1      1       NaN

In [32]:
df_response = build_dataframe("response")

In [33]:
df_response

,particpant_ID,puzzler,team_ID,E4_nr,upset,hostile,alert,ashamed,inspired,nervous,...,active,frustrated,group,ID,round,phase,difficulty,participant_ID,parent,sub_group
0,7.0,1.0,2.0,A0388C,1.0,1.0,2.0,1.0,2.0,2.0,...,2.0,1.0,D1_1,1,1,1,NaN,NaN,NaN,NaN
0,7.0,1.0,2.0,A0388C,1.0,1.0,1.0,1.0,3.0,1.0,...,3.0,2.0,D1_1,1,1,2,5.0,NaN,NaN,NaN
0,7.0,1.0,2.0,A0388C,1.0,1.0,1.0,1.0,2.0,1.0,...,1.0,3.0,D1_1,1,1,3,NaN,NaN,NaN,NaN
0,7.0,1.0,2.0,A0388C,1.0,1.0,1.0,1.0,2.0,1.0,...,1.0,4.0,D1_1,1,2,1,NaN,NaN,NaN,NaN
0,7.0,1.0,2.0,A0388C,1.0,1.0,2.0,1.0,2.0,1.0,...,3.0,1.0,D1_1,1,2,2,2.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,NaN,NaN,13.0,A03857,1.0,1.0,2.0,1.0,2.0,1.0,...,2.0,0.0,D1_3,2,3,2,1.0,25.0,0.0,D1_3_4
0,NaN,NaN,13.0,A03857,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,D1_3,2,3,3,0.0,25.0,0.0,D1_3_4
0,NaN,NaN,13.0,A03857,1.0,1.0,2.0,1.0,2.0,1.0,...,2.0,0.0,D1_3,2,4,1,0.0,25.0,0.0,D1_3_4
0,NaN,NaN,13.0,A03857,1.0,1.0,2.0,1.0,2.0,2.0,...,2.0,1.0,D1_3,2,4,2,2.0,25.0,0.0,D1_3_4
0,NaN,NaN,13.0,A03857,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,D1_3,2,4,3,0.0,25.0,0.0,D1_3_4